---
import Layout from '../../layouts/Layout.astro'
import PostsGrid from '../../components/Grids/PostGrid.astro'
import MainGrid from '../../components/Grids/MainGrid.astro'
const response = await fetch(import.meta.env.CMS_URL_WP_JSON_CUSTOM+"/home")
const homePageData = await response.json()
---

<Layout title="Hiptoro">
		<div class="">
		<MainGrid post={homePageData.latest_posts[0]}/>

		</div>
		<PostsGrid posts={homePageData.latest_posts.slice(1,homePageData.latest_posts.length)}/>

</Layout>