---
import '@fontsource/roboto';

import Navbar from './Navbar.astro'
import '../styles/blog.css';
export interface Props{
    title:string
}
 const {title="Hiptoro"}=Astro.props as Props
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content" />
        <meta name="robots" content="index,follow" />
        <title>{title}</title>
    </head>
    <body>
        <Navbar/>
        <main class="container mx-auto px-2 lg:px-8 xl:px-0 lg:py-8 max-w-site-full" >
        <slot />
            

        </main>
    </body>
</html>

<style is:global>
    body:{
        font-family: "Roboto";
    }
</style>